# Ejercicios Resueltos

    Parte 1

- Implementar una función que tome como entrada tres variables y devuelva la más grande de las tres. ¡Haz esto sin usar la función Python max ()! Haga una versión sin ninguna variable local y otra con una variable local.

In [1]:
def fun_max(a,b,c):
    if a > b:
        if a > c:
            return a
        else:
            return c
    elif b > c:
        return b
    else:
        return c

In [2]:
fun_max(1,2,3)

3

In [3]:
fun_max(2,3,1)

3

In [4]:
fun_max(3,1,2)

3

In [5]:
def fun_max2(a,b,c):
    val_max = 0
    if val_max > a:
        return val_max
        if val_max > b:
            return val_max
            if val_max > c:
                return val_max
            else:
                val_max = c
                return val_max
        elif b > c:
            val_max = b
            return val_max
        else:
            val_max = c
            return val_max
    elif a > b:
        if a > c:
            val_max = a
            return val_max
        else:
            val_max = c
            return val_max
    else:
        if b > c:
            val_max = b
            return val_max
        else:
            val_max = c
            return val_max

In [6]:
fun_max2(1,2,3)

3

In [7]:
fun_max2(2,3,1)

3

In [8]:
fun_max2(3,1,2)

3

- Escriba una función “centenario” que tome el Nombre y el año de nacimiento como entradas, verifique si el año de nacimiento es int y cámbielo a int si no, e imprima el nombre junto con el texto que explica cuándo la persona debe tener 100 años (pista: use isinstance)

call to function: centenario(Antonio, 1967)

output: Antonio will reach 100 years in 2067.

In [37]:
def centenario(a,b):
    if isinstance(b,int) == True:
        return "%s will reach 100 years in %d" %(a,b+100)
    else:
        b = int(b)
        return "%s will reach 100 years in %d" %(a,b+100)

In [38]:
centenario("Antonio",1967)

'Antonio will reach 100 years in 2067'

- Escriba una función para calcular el número de palabras, el número de líneas y la longitud de una cadena de la misma manera que lo hace el comando wc en la línea de comandos

In [56]:
def wc_python(m):
    a = m
    b = m.splitlines()
    c = m.split(" ")
    print ("El numero de letras es: %d;" %(len(a)))
    print ("El numero de lineas es: %d;" %(len(b)))
    print ("El numero de palabras es: %d" %(len(c)))
    return

In [60]:
wc_python('seb sgn drgn drgn dgn d md')

El numero de letras es: 26;
El numero de lineas es: 1;
El numero de palabras es: 7

- Para una secuencia [1, 2, 3, 4, 5, 6, 7, 8] obtenga los valores cuadrados utilizando la función lambda.

In [67]:
a = [1,2,3,4,5,6,7,8]
result = list(map(lambda x: x**2,a))

In [68]:
result

[1, 4, 9, 16, 25, 36, 49, 64]

- Prepare una lista con 10 nombres. Haga un código que ponga todas las vocales a mayúsculas y todos los demás caracteres a letras más bajas.

In [97]:
result = []
def vocal_mayus(m):
    for value in m:
        nombre = ''
        for letter in value:
            if letter in "aeiouAEIOU":
                nombre = nombre + letter.upper()
            else:
                nombre = nombre + letter
        result.append(nombre)

In [141]:
a = ['Joseph','Michael','Andre','Rosario','Iossif','Julio','Sergio','Cesar']

In [98]:
vocal_mayus(a);
result

['JOsEph', 'MIchAEl', 'AndrE', 'ROsArIO', 'IOssIf', 'JUlIO', 'SErgIO', 'CEsAr']

- Invertir el orden de las palabras de la cadena de entrada

In [136]:
nombre = []
def inverse_nom(m):
    for letter in m:
        nombre.insert(0,letter)
    return "".join(nombre)

In [137]:
inverse_nom('Michael')

'leahciM'

- Escriba una función de Python que tome una lista de palabras y devuelva la longitud de la más larga.

In [154]:
max_len_nom = 0
len_nom = []
def max_len(m):
    len_val = 0
    for value in m:
        len_val = len(value)
        len_nom.append(len_val)
    max_len_nom = max(len_nom)
    return max_len_nom

In [155]:
a

['Joseph', 'Michael', 'Andre', 'Rosario', 'Iossif', 'Julio', 'Sergio', 'Cesar']

In [156]:
max_len(a)

7

- Ordene una colección de cadenas por el número de letras distintas en cada cadena. (pista: usar set y lambda)

In [163]:
a
a.sort(key=lambda x:len(set(list(x))))

In [166]:
a

['Andre', 'Iossif', 'Julio', 'Cesar', 'Joseph', 'Rosario', 'Sergio', 'Michael']