# Ejercicios Resueltos

In [2]:
import pandas as pd
import numpy as np

### Ejercicio 1

Desde ser1 eliminar elementos presentes en ser2.

In [3]:
ser1 = pd.Series([1,2,3,4,5])
ser2 = pd.Series([4,5,6,7,8])

In [4]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

Obtener todos los elementos de ser1 y ser2 no común a ambos.

In [5]:
union = pd.Series(np.union1d(ser1,ser2))
intersect = pd.Series(np.intersect1d(ser1,ser2))

union[~union.isin(intersect)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

### Ejercicio 2

Obtener el porcentaje de propina y analizar la dependencia con las variables sexo y fumadores (*sex* y *smoker*). ¿Se puede ver alguna diferencia de comporamiento entre hombres/mujeres, y si son o no fumadores?

- Añadir la variable deseada *tips_pct* en el dataframe original *tips*.
- Agrupar por sexo y por si son fumadores.
- Agregar variable estadísticas para interpretar los resultados.

Descargando la informacion:

In [3]:
import requests

url = 'https://raw.githubusercontent.com/wesm/pydata-book/1st-edition/ch08/tips.csv'
response = requests.get(url)

out_file = open('tips.csv', 'wb')
out_file.write(response.content)
out_file.close()

In [4]:
tips = pd.read_csv('tips.csv')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips['tips_pct'] = tips['tip'] / tips['total_bill']
tips.head()

   total_bill   tip     sex smoker  day    time  size  tips_pct
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

In [12]:
tips.groupby(['sex','smoker'])['tips_pct'].describe()

               count      mean       std       min       25%       50%  \
sex    smoker
Female No       54.0  0.156921  0.036421  0.056797  0.139708  0.149691
       Yes      33.0  0.182150  0.071595  0.056433  0.152439  0.173913
Male   No       97.0  0.160669  0.041849  0.071804  0.131810  0.157604
       Yes      60.0  0.152771  0.090588  0.035638  0.101845  0.141015

                    75%       max
sex    smoker
Female No      0.181630  0.252672
       Yes     0.198216  0.416667
Male   No      0.186220  0.291990
       Yes     0.191697  0.710345

In [13]:
def rango_max_min(m):
    return m.max() - m.min()

In [15]:
tips.groupby(['sex','smoker'])['tips_pct'].agg([('Conteo','count'),('Media','mean'),('Desviación','std'),('Rango',rango_max_min)])

               Conteo     Media  Desviación     Rango
sex    smoker
Female No          54  0.156921    0.036421  0.195876
       Yes         33  0.182150    0.071595  0.360233
Male   No          97  0.160669    0.041849  0.220186
       Yes         60  0.152771    0.090588  0.674707

- Extraer los casos de tip superior al 40%.

In [17]:
tips[tips['tips_pct'] > 0.4 ].head()

     total_bill   tip     sex smoker  day    time  size  tips_pct
172        7.25  5.15    Male    Yes  Sun  Dinner     2  0.710345
178        9.60  4.00  Female    Yes  Sun  Dinner     2  0.416667