## Libreria Pandas

Pandas, es una librería destinada al procesamiento y análisis de datos (cargar, preparar, manipular, modelar y analizar), esta proporciona estructuras de datos flexibles y que permiten trabajar de forma muy eficiente.

Pandas ofrece las siguientes estructuras de datos:

- Series: Son arrays unidimensionales con indexación (arrays con índice o etiquetados), similar a los diccionarios. Pueden generarse a partir de diccionarios o de listas.
 
- DataFrame: Son estructuras de datos similares a las tablas de bases de datos relacionales como SQL.
 
- Panel, Panel4D y PanelND: Estas estructuras de datos permiten trabajar con más de dos dimensiones, pero en este Notebook no trabajaremos este tipo.

### Instalación

Si tiene Anaconda, simplemente puede instalar Pandas desde su terminal o símbolo del sistema usando:

conda instalar pandas

Si no tiene Anaconda en su computadora, instale Pandas desde su terminal usando:

pip instalar pandas

## Trabajando con pandas

In [2]:
import pandas as pd  #importa la libreria

## Series

Es una matriz etiquetada unidimensional capaz de contener cualquier tipo de datos (enteros, cadenas, números de punto flotante, objetos de Python, etc.). Las etiquetas de los ejes se denominan colectivamente índice.

In [5]:
a = pd.Series([1,2,3,4,5])
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
a.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
a.values

array([1, 2, 3, 4, 5])

In [10]:
b = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
b

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
b.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
b.values

array([1, 2, 3, 4, 5])

In [16]:
c_prev = {'m': 1, 'n':2, 'o':3, 'p':4, 'q':5}
c = pd.Series(c_prev)
c

m    1
n    2
o    3
p    4
q    5
dtype: int64

In [17]:
c.index

Index(['m', 'n', 'o', 'p', 'q'], dtype='object')

In [18]:
c.values

array([1, 2, 3, 4, 5])

In [13]:
a[3]

4

In [15]:
b['d']

4

In [20]:
pd.Series(a, index = [0,1,2,3,4,5])

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

In [21]:
pd.Series(4.5, index = ['a','b','c','d'])

a    4.5
b    4.5
c    4.5
d    4.5
dtype: float64

In [22]:
a % 2 == 0

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [23]:
a[a % 2 == 0]

1    2
3    4
dtype: int64

In [24]:
a * 2

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [25]:
a * a

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [26]:
d = pd.Series([-1,-2,-5], index = ['a','b','e'])
d

a   -1
b   -2
e   -5
dtype: int64

In [28]:
b + d  # las operaciones entre series solo se da si los indices son iguales

a    0.0
b    0.0
c    NaN
d    NaN
e    0.0
dtype: float64

### Indexing y Slicing

![Python slicing](https://infohost.nmt.edu/tcc/help/pubs/python/web/fig/slicing.png)

In [29]:
a[3]

4

In [30]:
a[1:4]

1    2
2    3
3    4
dtype: int64

In [31]:
a[-1:]

4    5
dtype: int64

In [32]:
a[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [34]:
e = pd.Series([2,4,6,8], name ='pares')
e

0    2
1    4
2    6
3    8
Name: pares, dtype: int64

In [35]:
e.rename('Par')

0    2
1    4
2    6
3    8
Name: Par, dtype: int64

In [39]:
e.index.name = 'Enteros'
e

Enteros
0    2
1    4
2    6
3    8
Name: pares, dtype: int64

## DataFrames